<!doctype html>
<html lang="zh">

<head>
    <title>有座</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- axios HTTP -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body style="background: rgb(255, 229, 182)">
    <div id='app'>
        <!-- 菜单栏 -->
        <nav class="navbar navbar-expand-sm navbar-light" style="background-color: rgb(250, 162, 0);">

            <!-- 平台标志，定向到主页 -->
            <a class="navbar-brand" href="#">Uzuo</a>
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse"
                data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- 菜单 -->
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="home.html">首页 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="subscribe.html">预约教室</a>
                    </li>
                </ul>
                <a v-if="isLogin == false" href="login.html">登陆</a>
                <a v-if="isLogin == true" href="center.html">个人中心
                </a>
            </div>
        </nav>

        <!-- 首页展板 -->
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-3">有座</h1>
                <p class="lead">人人都有座</p>
                <hr class="my-2">

                <!-- <p>More info</p> -->
                <div v-if="isLogin">
                    <h4>{{hello}}</h4>
                </div>
                <div v-else>

                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="login.html" role="button">现在登录</a>
                    </p>
                </div>

            </div>
        </div>

        <!-- 程序功能入口 -->
        <div class="container">
            <!-- 座位预约预约入口 -->

            <div class="row">
                <h3 class="mx-3">图书馆自习室预约</h3>
            </div>
            <hr class="my-2">

            <div class="row">
                <div class="col-lg-8 col-sm-12 ">

                    <!-- 左边 -->
                    <div class="card my-2">
                        <div class="card-body">
                            <div class="container ">
                                <div class="row">
                                    <div class="col-lg-2">

                                    </div>
                                    <div class="col-lg-8 col-sm-12">

                                        <h4 class="card-title mx-2">我的预约</h4>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-lg-2">

                                    </div>

                                    <div class="col-lg-8 col-sm-12">
                                        <!-- 没有预约 -->
                                        <div v-if="isLogin">
                                            <div v-if="orders.length==0">

                                                <p>你还没有预约任何座位，快去预约一个座位开始学习吧！</p>
                                            </div>
                                            <!-- 预约列表 -->
                                            <div v-else>
                                                <table class="table">
                                                    <tbody>
                                                        <tr v-for="(order, index) in orders">
                                                            <td>{{order.date}}</td>
                                                            <td>{{manChange(order.timeQuantum)}}</td>


                                                            <td v-if="order.isSignin=='0'"><button type="button"
                                                                    @click="signIn(order.id)"
                                                                    class="btn btn-success btn-sm">确认签到</button>


                                                            </td>

                                                            <td v-else><button type="button"
                                                                    class="btn btn-primary btn-sm">暂时离开</button></td>

                                                            <td v-if="order.isSignin=='0'"><button type="button"
                                                                    @click="cencelOrder(order.id)"
                                                                    class="btn btn-danger btn-sm">取消预约</button></td>

                                                            <td v-else><button type="button" @click="sighOut(order.id)"
                                                                    class="btn btn-danger btn-sm">提前离开</button></td>

                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <!-- 没有登录 -->
                                        <div v-else>
                                            <p>你还没有登录，快去登录吧！</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- 右边 -->
                <div class="col-lg-4 col-sm-12 my-2">
                    <div class="card">
                        <div class="card-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12 col-sm-12 text-center">
                                        <h4 class="card-title">座位预约</h4>
                                        <button @click="toSubcribe()" type="button"
                                            class="btn btn-primary">现在预约</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <hr class="my-2">
            <div class="row">
                <div class="col-lg-12 col-sm-12 text-center">
                    <h5>更多功能正在开发中，尽请期待！</h5>
                </div>
            </div>

            <hr class="my-2">

        </div>

        <!-- 页脚 -->

    </div>



    <script>
        new Vue({
            el: '#app',
            data: {
                isLogin: false,
                userName: '',
                now: '',
                today: '',
                orders: [],


            },
            methods: {
                //跳转到预约页面
                toSubcribe: function () {
                    window.location.href = 'subscribe.html';
                },
                //跳转到登录页面
                toLogin: function () {
                    window.location.href = 'login.html';
                },
                // 获取登录状态
                getIsLogin: function () {
                    axios.get('/login/islogin')
                        .then(res => {
                            console.log(res)
                            if (res.data.code == 0) {
                                this.isLogin = true;
                                console.log(this.isLogin);

                                this.getUserInfo();

                                this.getTime();

                                this.getOrderInfo();
                            }
                        })
                        .catch(err => {
                            console.error(err);
                        })

                },
                // 获取用户信息
                getUserInfo: function () {
                    axios.get('/userManager/getInfo')
                        .then(res => {
                            console.log(res)
                            this.userName = res.data.data.name;
                            console.log(this.userName);
                        })
                        .catch(err => {
                            console.error(err);
                        })
                },

                //获取服务器时间
                getTime: function () {
                    axios.get('/datetime/now')
                        .then(res => {
                            console.log(res)
                            this.now = res.data.data.today.timeQuantum;
                            // this.today=res.data.data.today.
                        })
                        .catch(err => {
                            console.error(err);
                        })
                },

                // 获取用户预约信息
                getOrderInfo: function () {
                    axios.get('/userManager/getOrders')
                        .then(res => {
                            console.log(res)
                            this.orders = res.data.data;
                            console.log(this.orders);

                        })
                        .catch(err => {
                            console.error(err);
                        })
                },

                // 取消预约
                cencelOrder: function (orderId) {
                    console.log(orderId);

                    axios.post('/seatOrder/cencle',
                        {
                            orderId: orderId
                        })
                        .then(res => {
                            console.log(res)
                            this.getOrderInfo();
                        })
                        .catch(err => {
                            console.error(err);
                        })
                },

                //确认签到
                signIn: function (orderId) {
                    console.log(orderId);
                    // axios.get('/library/checkin/signin?orderId=' + orderId)
                    axios.get('/library/checkin/signin', {
                        params: {
                            orderId: orderId
                        }
                    })
                        .then(res => {
                            console.log(res)

                            this.getOrderInfo();

                        })
                        .catch(err => {
                            console.error(err);
                        })
                },

                //提前离开
                sighOut: function (orderId) {
                    axios.get('/library/checkin/signout', {
                        params: {
                            orderId: orderId
                        }
                    })
                        .then(res => {
                            console.log(res)
                            this.getOrderInfo();

                        })
                        .catch(err => {
                            console.error(err);
                        })
                },

                //时段文字匹配
                manChange: function (man) {

                    if (man == 'M') {
                        return '早上'
                    } else if (man == 'A') {
                        return '下午'
                    } else if (man == 'N') {
                        return '晚上'
                    }
                },


            },
            computed: {
                hello: function () {
                    console.log('now' + this.now);

                    if (this.now == 'M') {
                        return '早上好，' + this.userName + '!'
                    } else if (this.now == 'A') {
                        return '下午好，' + this.userName + '!'
                    } else if (this.now == 'N') {
                        return '晚上好，' + this.userName + '!'
                    }
                },




            },
            mounted() {
                this.getIsLogin();

            },
        })
    </script>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>