<!doctype html>
<html lang="zh">

<head>
    <title>座位预约</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- axios HTTP -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <style>
        .c {
            display: flex;
            flex-direction: row;
        }
    </style>
</head>

<body style="background: rgb(255, 229, 182)">
    <!-- 网页主体 -->
    <div id="app">
        <!-- 菜单栏 -->
        <nav class="navbar navbar-expand-sm navbar-light" style="background-color: rgb(250, 162, 0);">

            <!-- 平台标志，定向到主页 -->
            <a class="navbar-brand" href="#">Uzuo</a>
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse"
                data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- 菜单 -->
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="home.html">首页 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="subscribe.html">预约教室</a>
                    </li>
                </ul>
                <a v-if="isLogin == false" href="login.html">登陆</a>
                <a v-if="isLogin == true" href="center.html">个人中心
                </a>
            </div>
        </nav>



        <!-- 预约主页 -->
        <div>
            <div class="container my-4">
                <div class="row">
                    <h1 class="mx-4">座位预约</h1>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-12 col-sm-12 ">
                        <div class="row my-3">
                            <!-- 选择时间段 -->
                            <div class="card w-100">
                                <div class="card-body">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-3 col-sm-6">
                                                <h3 class="my-2">选择时间</h3>
                                            </div>
                                            <div class="col-lg-3 col-sm-6">
                                                <div class="form-group">
                                                    <select class="form-control form-control-lg" @change="a()"
                                                        v-model="selectDate" name="" id="">
                                                        <option type="button" v-for="(item, index) in date">{{item}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-sm-12 text-center">
                                                <div v-if="selectDate == now.nowDate && (now.timeQuantum == 'A' || now.timeQuantum == 'N')"
                                                    class="btn btn-lg" style="background-color: dimgrey">上午</div>
                                                <button v-if="selectDate != now.nowDate || now == 'M'" @click="bm()"
                                                    class="btn btn-lg" type="button"
                                                    style="background-color:coral">上午</button>
                                                <div v-if="selectDate == now.nowDate && now.timeQuantum == 'N'"
                                                    class="btn btn-lg" style="background-color: dimgrey">下午</div>
                                                <button v-if="selectDate != now.nowDate || now == 'A' || now == 'M'"
                                                    @click="ba()" class="btn btn-waring btn-lg" type="button"
                                                    style="background-color:coral">下午</button>
                                                <button @click="bn()" class="btn btn-waring btn-lg" type="button"
                                                    style="background-color:coral">晚上</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- 教室选择 -->
                        <div class="row">
                            <div class="card w-100">
                                <div class="card-body">
                                    <div class="container">
                                        <div v-for="(citem,index) in rooms" v-if="index%2==0" class="row ">
                                            <!-- <div v-for="(ritem,rindex ) in citem" class="col-lg-6"> -->
                                            <div class="col-lg-6">
                                                <button type="button" @click="select(rooms[index].clroomId)"
                                                    class="card w-100 my-3">
                                                    <div class="card-body">
                                                        <h4 class="card-title">{{rooms[index].name}}</h4>
                                                        <p class="card-text">{{rooms[index].desc}}</p>
                                                        <p class="card-text">可用座位：{{rooms[index].seatNum}}</p>
                                                    </div>
                                                </button>
                                            </div>
                                            <div class="col-lg-6">
                                                <button type="button" @click="select(rooms[index+1].clroomId)"
                                                    class="card w-100 my-3">
                                                    <div class="card-body">
                                                        <h4 class="card-title">{{rooms[index+1].name}}</h4>
                                                        <p class="card-text">{{rooms[index+1].desc}}</p>
                                                        <p class="card-text">可用座位：{{rooms[index+1].seatNum}}</p>
                                                    </div>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        let vue = new Vue({
            el: '#app',
            data: {
                isLogin: false,
                now: {},
                b: '',
                user: '',
                selectDate: '',
                selectMan: '',
                selectRoom: '',
                date: [],
                man: ['M', 'A', 'N'],
                rooms: [],
            },
            methods: {
                a: function () {
                    let v = this.selectDate.split("-");
                    axios.get('/library/clroom/show/all', {
                        params: {
                            "year": v[0],
                            "month": v[1],
                            "day": v[2],
                            "timeQuantum": this.b,
                        }
                    })
                        .then(res => {
                            console.log(res);
                            this.rooms = res.data.data;
                            console.log(this.rooms);

                        })
                        .catch(err => {
                            console.error(err);
                        })
                },

                bm: function () {
                    this.b = 'M'
                    this.a();
                },

                ba: function () {
                    this.b = 'A'
                    this.a();
                },

                bn: function () {
                    this.b = 'N'
                    this.a();
                },

                select: function (id) {
                    window.location.href = "select.html?id=!" + id + "!&selectDate=!" + this.selectDate + "!&m=!" + this.b;
                }
            },
            computed: {

            },
            mounted() {
                // 获取登录状态
                axios.get('/login/islogin')
                    .then(res => {
                        console.log(res)
                        if (res.data.code == 0) {
                            this.isLogin = true;
                            console.log(this.isLogin);
                        }
                    })
                    .catch(err => {
                        console.error(err);
                    }),

                    axios.get("/datetime/now")
                        .then(res => {
                            console.log(res)
                            let d = res.data.data;
                            let a = d.today.year + "-" + d.today.month + "-" + d.today.day;
                            let b = d.tomorrow.year + "-" + d.tomorrow.month + "-" + d.tomorrow.day;
                            let c = d.afterTomorrow.year + "-" + d.afterTomorrow.month + "-" + d.afterTomorrow.day;
                            this.selectDate = a;
                            this.b = d.today.timeQuantum;
                            this.now = { timeQuantum: d.today.timeQuantum, nowDate: a };
                            this.date = [a, b, c];
                            this.a();
                        })
                        .catch(err => {
                            console.error(err);
                        })
            },
        })
    </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>